{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">Add Record</h3>

    <form method="POST" action="{% url 'jurnal:add_record' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Sum</div>
        <div class="form-group">
          <input type="number" name="jumlah" value="{{request.POST.jumlah}}" class="form-width form-control" placeholder="Jumlah" required>
        </div>
        <div class="pb-1">Type</div>
        <select id="tipe" name="tipe">
          <option value="C">Credit</option>
          <option value="D">Debit</option>
        </select>
    

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Add</button>
            <a href="{% url 'jurnal:jurnal_front' %}">
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}
